---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

.masthead {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #f2f2f2;
}

.masthead__menu-item--lg {
  font-weight: 800 !important;
  font-size: 1.5rem !important;
  display: inline-flex;
  align-items: baseline;
}

.masthead__menu-item--lg:after {
  content: " ICCRI, SFU";
  font-weight: 400;
  font-size: 0.9rem;
  color: #666;
  margin-left: 10px;
}

.masthead__menu-item a {
  text-transform: uppercase !important;
  font-weight: 700 !important;
}

/* Force the content container to be wider on all pages */
.archive, .page, .full {
  max-width: 95% !important; /* Use 95% of the screen width */
}

/* This forces the main content area to expand globally */
#main {
  max-width: 100% !important; 
  padding-left: 5% !important;
  padding-right: 5% !important;
}

.archive, .page {
  width: 100% !important;
  max-width: 100% !important;
}
